In [10]:
import pandas as pd

In [11]:
ds_trade_value_df = pd.read_csv('Datasets/Draft_Sharks_Trade_Value_Chart_2023_Oct.csv')
player_rankings_df1 = pd.read_csv('Datasets/Dynasty_Superflex_Rankings_2023_Oct.csv')
player_rankings_df2 = pd.read_csv('Datasets/FantasyPros_2023_Dynasty_OP_Rankings.csv')
league_info_df = pd.read_csv('Datasets/league_info.csv')
player_ids_df = pd.read_csv('Datasets/player_ids.csv')

In [12]:
ds_trade_value_df

                   Name  Value Pick Position
0                  1.01     81  Yes      NaN
1                  1.02     65  Yes      NaN
2                  1.03     63  Yes      NaN
3                  1.04     59  Yes      NaN
4                  1.05     53  Yes      NaN
..                  ...    ...  ...      ...
336       Juwan Johnson      5   No       TE
337    Luke Schoonmaker      5   No       TE
338  Darnell Washington      5   No       TE
339           Noah Gray      2   No       TE
340       Foster Moreau      1   No       TE

[341 rows x 4 columns]

In [13]:
player_rankings_df1

,Unnamed: 0,Rank,Pos Rk,Player,Pos,Team,Comments,Draft Pick Value
0,0,1,QB1,Patrick Mahomes,QB,KC,NaN,>2024 1.01
1,1,2,QB2,Lamar Jackson,QB,BAL,NaN,>2024 1.01
2,2,3,QB3,Jalen Hurts,QB,PHI,NaN,>2024 1.01
3,3,4,QB4,Josh Allen,QB,BUF,NaN,>2024 1.01
4,4,5,WR1,Justin Jefferson,WR,MIN,NaN,>2024 1.01
...,...,...,...,...,...,...,...,...
195,195,196,RB62,Isaiah Spiller,RB,LAC,NaN,Late 2024 3rd
196,196,197,RB63,Kareem Hunt,RB,CLE,NaN,Late 2024 3rd
197,197,198,RB64,Leonard Fournette,RB,FA,NaN,Late 2024 3rd
198,198,199,RB65,JK Dobbins,RB,BAL,It's possible that neither of these RBs will e...,Late 2024 3rd
199,199,200,RB66,Nick Chubb,RB,CLE,NaN,Late 2024 3rd

In [14]:
player_rankings_df2

,RK,TIERS,PLAYER NAME,TEAM,POS,BYE WEEK,AGE,SOS SEASON,ECR VS. ADP
0,1,1,Patrick Mahomes II,KC,QB1,10,28,5 out of 5 stars,-
1,2,1,Justin Jefferson,MIN,WR1,13,24,3 out of 5 stars,-
2,3,1,Jalen Hurts,PHI,QB2,10,25,2 out of 5 stars,-
3,4,1,Ja'Marr Chase,CIN,WR2,7,23,3 out of 5 stars,-
4,5,1,Josh Allen,BUF,QB3,13,27,4 out of 5 stars,-
...,...,...,...,...,...,...,...,...,...
410,411,15,Jamison Crowder,WAS,WR156,14,30,3 out of 5 stars,-
411,412,15,Gary Brightwell,NYG,RB132,13,24,3 out of 5 stars,-
412,413,15,Artavis Scott,FA,WR157,-,29,-,-
413,414,15,Cedrick Wilson Jr.,MIA,WR158,10,27,3 out of 5 stars,-
414,415,15,Randall Cobb,NYJ,WR159,7,33,4 out of 5 stars,-

In [15]:
league_info_df

,Unnamed: 0,Owner Id,Wins,Losses,Waiver Budget,Max PF,PF,PA
0,0,859924767849963520,4,2,195,827,765,730
1,1,859927095139270656,2,4,270,893,719,777
2,2,867861194491506688,3,3,162,949,749,751
3,3,867876367142948864,4,2,100,1039,838,807
4,4,870455446538985472,5,1,149,1001,837,747
5,5,934257798362341376,2,4,235,987,851,822
6,6,979271462437572608,1,5,202,873,661,780
7,7,991539775981019136,0,6,43,783,626,902
8,8,993326596813545472,4,2,180,961,811,800
9,9,996563003929796608,5,1,170,1133,1002,744

In [16]:
player_ids_df

     Unnamed: 0      Player Name  Player Id            Owner Id
0             0     Marvin Jones       1067  859924767849963520
1             1   Allen Robinson       1992  859924767849963520
2             2    Davante Adams       2133  859924767849963520
3             3     Logan Thomas       2251  859924767849963520
4             4    Tyler Lockett       2374  859924767849963520
..          ...              ...        ...                 ...
265         265  Elijah Mitchell       7561  996563003929796608
266         266    Ja'Marr Chase       7564  996563003929796608
267         267    Calvin Austin       8125  996563003929796608
268         268    Isiah Pacheco       8205  996563003929796608
269         269    De'Von Achane       9226  996563003929796608

[270 rows x 4 columns]

In [17]:
player_rankings_df = player_rankings_df1.drop(columns=['Unnamed: 0'])
player_rankings_df = player_rankings_df.merge(player_ids_df, left_on='Player', right_on='Player Name')
player_rankings_df = player_rankings_df.drop(columns=['Unnamed: 0', 'Player Name'])
player_rankings_df = player_rankings_df.merge(ds_trade_value_df, left_on='Player', right_on='Name')
player_rankings_df = player_rankings_df.drop(columns=['Name', 'Pick', 'Position'])
player_rankings_df

,Rank,Pos Rk,Player,Pos,Team,Comments,Draft Pick Value,Player Id,Owner Id,Value
0,1,QB1,Patrick Mahomes,QB,KC,NaN,>2024 1.01,4046,859924767849963520,94
1,2,QB2,Lamar Jackson,QB,BAL,NaN,>2024 1.01,4881,867861194491506688,76
2,3,QB3,Jalen Hurts,QB,PHI,NaN,>2024 1.01,6904,934257798362341376,100
3,4,QB4,Josh Allen,QB,BUF,NaN,>2024 1.01,4984,859927095139270656,100
4,5,WR1,Justin Jefferson,WR,MIN,NaN,>2024 1.01,6794,979271462437572608,88
...,...,...,...,...,...,...,...,...,...,...
172,194,RB60,Devin Singletary,RB,HOU,NaN,Late 2024 3rd,6130,993326596813545472,21
173,195,RB61,Jordan Mason,RB,SF,"Elijah Mitchell is continually banged up, so M...",Late 2024 3rd,8408,870455446538985472,14
174,197,RB63,Kareem Hunt,RB,CLE,NaN,Late 2024 3rd,4098,867861194491506688,15
175,198,RB64,Leonard Fournette,RB,FA,NaN,Late 2024 3rd,3969,859927095139270656,9
176,200,RB66,Nick Chubb,RB,CLE,NaN,Late 2024 3rd,4988,859927095139270656,17

In [18]:
player_rankings_df.to_csv('Datasets/player_info.csv')